*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    background-size: cover;
}
.menu-bar
{
background-color:rgb(0, 100,0);
text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
background-color: turquoise;
border-radius: 3px;
}
.sub-menu1{
display: none;
}
.menu-bar ul li:hover .sub-menu1{
display: block;
position: absolute;
background-color:green;
margin-top: 15px;
margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
